
/* Navbar styles */
.NavContainer {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.separador{
    padding-right: 8px;
    color: aliceblue;
    margin-right: 5px;
    margin-left: 10px;
}

.NavLinks {
    display: flex;
    
    justify-content: center;
    /* text-decoration:none; */
}

.NavLinks a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.NavLinks a:hover {
    background-color: white;
    color:purple;
    border-radius: 10px;
}

.nameApp a:link, a:visited, a:active {
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.nameApp a:hover {
    background-color: white;
    color:purple;
    border-radius: 10px;
}

